html, body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 300;
  line-height: 1.5;
}

body {
  font-family: 'Lato', sans-serif;
  background-image: url('https://hdwallsbox.com/wallpapers/l/1080x1920/98/swimming-pools-underwater-1080x1920-97003.jpg');
  background-position: center top;
  background-size: cover;
  margin: 0;
}
